<form class="form-horizontal" method="post">
    <div class="form-group">
        <label class="col-md-4 control-label" for="username">Nombre de usuario</label>
        <div class="col-md-6">
            <input value="{% if user is defined %}{{ user.username }}{% endif %}" name="username" placeholder="Nombre de usuario" class="form-control input-md" type="text">
            <span class="help-block"><small>El nombre de usuario para acceder al sistema</small></span>
        </div>
    </div>
    {% if user is not defined %}
    <div class="form-group">
        <label class="col-md-4 control-label" for="password1">Contraseña</label>
        <div class="col-md-6">
            <input name="password1" placeholder="Contraseña de acceso" class="form-control input-md" type="password">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="password2"></label>
        <div class="col-md-6">
            <input name="password2" placeholder="Repetir la Contraseña de acceso" class="form-control input-md" type="password">
            <span class="help-block"><small>Escribir dos veces la contraseña de acceso</small></span>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label class="col-md-4 control-label" for="email">Correo electrónico</label>
        <div class="col-md-6">
            <input value="{% if user is defined %}{{ user.email }}{% endif %}" name="email" placeholder="Dirección de correo electrónico" class="form-control input-md" type="text">
            <span class="help-block"><small>Dirección de correo electrónico de contacto</small></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="phone">Teléfono</label>
        <div class="col-md-6">
            <input value="{% if user is defined %}{{ user.phone }}{% endif %}" name="phone" placeholder="Número telefónico válido" class="form-control input-md" type="text">
            <span class="help-block"><small>Número de teléfono móvil para contacto</small></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="firstame">Nombre(s)</label>
        <div class="col-md-6">
            <input value="{% if user is defined %}{{ user.firstname }}{% endif %}" name="firstname" placeholder="Nombre(s) legal(es)" class="form-control input-md" type="text">
            <span class="help-block"><small>Nombre(s) de real(es) de la persona</small></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="lastname">Apellidos</label>
        <div class="col-md-6">
            <input value="{% if user is defined %}{{ user.lastname }}{% endif %}" name="lastname" placeholder="Apellidos legales" class="form-control input-md" type="text">
            <span class="help-block"><small>Apellidos reales de la persona</small></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="group">Grupo</label>
        <div class="col-md-6">
            <select id="group-selector" name="group" class="selectpicker">
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if user is defined %}{% if user.group.id == group.id %}selected{% endif %}{% endif %}>{{ group.name }}</option>
                {% endfor %}
            </select>
            <span class="help-block"><small>El grupo al que será asociado el usuario</small></span>
        </div>
    </div>
    <div id="business" {% if user is defined %}{% if user.group.id == 1 %}class="hidden"{% endif %}{% else %}class="hidden"{% endif %}>
        <div class="form-group">
            <label class="col-md-4 control-label" for="state">Estado</label>
            <div class="col-md-6">
                <select name="state" class="selectpicker">
                    {% for state in states %}
                        <option value="{{ state.id }}" {% if user.state is defined %}{% if user.state.id == state.id %}selected{% endif %}{% endif %}>{{ state.name }}</option>
                    {% endfor %}
                </select>
                <span class="help-block"><small>El Estado del usuario</small></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="city">Ciudad</label>
            <div class="col-md-6">
                <input value="{% if user.city is defined %}{{ user.city }}{% endif %}"  name="city" placeholder="Ciudad del usuario" class="form-control input-md" type="text">
                <span class="help-block"><small>La Ciudad dónde reside el usuario</small></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="address">Dirección</label>
            <div class="col-md-6">
                <input value="{% if user.address is defined %}{{ user.address }}{% endif %}" name="address" placeholder="Dirección postal" class="form-control input-md" type="text">
                <span class="help-block"><small>Dirección dónde reside el usuario</small></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="zip">Código postal</label>
            <div class="col-md-6">
                <input value="{% if user.zip is defined %}{{ user.zip }}{% endif %}" name="zip" placeholder="Código postal" class="form-control input-md" type="text">
                <span class="help-block"><small>El código postal de la dirección</small></span>
            </div>
        </div>
    </div>
    {% if user is defined %}
    <input value="{{ user.id }}" name="id" type="hidden">
    {% endif %}
</form>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
        $('#group-selector').change(function () {
            var group = $('#group-selector').val();
            if (group === '1') {
                $('#business').addClass('hidden');
            } else {
                $('#business').removeClass('hidden');
            }
        });
    });
</script>