<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="{{ model.icon }}"></span> {{ model.title }}</h3>
        <div class="actions pull-right">
            {% set haspaths = false %}
            {% if model.newpath is not null %}
                <a href="javascript:;" onclick="newItem();" class="btn btn-success btn-labeled btn-xs fa fa-plus">
                    New
                </a>
            {% endif %}
            {% if model.editpath is not null %}
                <a href="javascript:;" onclick="editItem();" class="btn btn-info btn-labeled btn-xs fa fa-edit">
                    Edit
                </a>
            {% set haspaths = true %}    
            {% endif %}
            {% if model.deletepath is not null %}
                <a href="javascript:;" onclick="deleteItem();" class="btn btn-danger btn-labeled btn-xs fa fa-remove">
                    Delete
                </a>
            {% set haspaths = true %}    
            {% endif %}
        </div>
    </div>
    <div style="height: auto;" class="panel-body">
        <table class="table table-striped table-bordered table-hover table-checkable nowrap" id="{{ table_id }}">
            <thead>
                <tr role="row" class="heading">
                    {% if haspaths %}
                    <th width="2%">
                        <div class="checkbox">
                            <input id="select-all" class="magic-checkbox" type="checkbox">
                            <label for="select-all"></label>
                        </div>
                    </th>
                    {% endif %}
                    {% for th in model.columns %}
                        <th width="{{ th.width }}">{{ th.text }}</th>
                        {% endfor %}
                </tr>
            </thead>
            <tfoot>
                <tr role="row" class="heading">
                    {% if haspaths %}<th width="2%"></th>{% endif %}
                        {% for th in model.columns %}
                        <th width="{{ th.width }}">{{ th.text }}</th>
                        {% endfor %}
                </tr>
            </tfoot>
            <tbody>
                {% for row in model.data %}
                    <tr id="{{ row.id }}">
                        {% for th in model.columns %}
                            {% if loop.first and haspaths %}
                                <td></td>
                            {% endif %}
                            <td type="data-row">{{ row[loop.index-1] | raw }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade bs-modal-md" id="modal" tabindex="-1" role="dialog" aria-hidden="true" onclick="hideAlert();">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="modal-alert" class="alert alert-danger hidden"></div>
                <div id="modal-body"></div>
            </div>
            <div class="modal-footer">
                <button id="form-cancel" type="button" class="btn btn-danger">Cancelar</button>
                <button id="form-submit" type="button" class="btn btn-success">Proceder</button>
            </div>
        </div>
    </div>
</div>
{% if model is defined %}
    <script>
        //# sourceURL=table.js
        var selectedAll = false;
        var ids = [];

        $('#{{ table_id }}').DataTable({
            /*language: {
                'url': '{{ asset('assets/plugins/spanish_datatable.json') }}'
            },*/
            {% if haspaths %}
            'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta) {
                        var x = Math.floor((Math.random() * 100000) + 1);
                        return '<div class="checkbox"><input id="check-' + x + '" class="magic-checkbox" type="checkbox" name="id[]"><label class="row-selector" onclick="selectRow(event)" for="check-' + x + '"></label></div>';                        
                    }                    
                }],
            order: [[1, 'asc']],
            {% endif %}
            responsive: true
        });
        
        function selectRow(event) {
            var row = $(event.target).closest('tr');
            if (row.hasClass('selected')) {
                row.removeClass('selected');
            } else {
                row.addClass('selected');
            }
        }

        $('#select-all').change(function () {
            selectedAll = !selectedAll;
            $('#{{ table_id }} > tbody > tr').each(function () {
                if (selectedAll) {
                    $(this).addClass('selected');
                    $(this).find('input.magic-checkbox').prop('checked',true);
                } else {
                    $(this).removeClass('selected');
                    $(this).find('input.magic-checkbox').removeAttr('checked');
                }
            });
        });
        
        {% if model.newpath is not null %}
            function newItem() {
                blockUI();
                $.ajax({
                    url: '{{ path(model.newpath~'_form') }}',
                    method: 'POST',
                    success: function (resp) {
                        $('#modal-body').html(resp);
                        $('#modal-title').html('<i class="{{ model.icon }} font-blue"></i><span class="caption-subject uppercase font-blue"> Crear nuevo registro</span>');
                        var form = $('.modal-body').find('form');
                        $(form).attr('action', '{{ path(model.newpath) }}');
                        $('#form-cancel').on('click', cancelAction);
                        $('#form-submit').on('click', newAction);                        
                        unblockUI();
                        $('#modal').modal('show');
                    },
                    error: function () {
                        unblockUI();
                        $.niftyNoty({
                            type: 'danger',
                            message : 'No se pudo crear la interfaz. Ocurrió un error en la red',
                            container : 'floating',
                            timer : 5000
                        });
                    }
                });
            }
        {% endif %}
        {% if model.editpath is not null %}
            function editItem() {
                $('tr.selected').each(function () {
                    ids.push($(this).attr('id'));
                });
                if (ids.length > 0) {
                    for (var i = 1; i < ids.length; i++) {
                        $('#' + ids[i]).find('.magic-checkbox').removeAttr('checked');
                        $('#' + ids[i]).removeClass('selected');
                    }
                    blockUI();
                    $.ajax({
                        url: '{{ path(model.editpath~'_form') }}',
                        method: 'POST',
                        data: {id: ids[0]},
                        success: function (resp) {
                            $('#modal-body').html(resp);
                            $('#modal-title').html('<i class="{{ model.icon }} font-blue"></i><span class="caption-subject uppercase font-blue"> Modify entry</span>');
                            var form = $('.modal-body').find('form');
                            $(form).attr('action', '{{ path(model.editpath) }}');
                            $('#form-cancel').on('click', cancelAction);
                            $('#form-submit').on('click', editAction);
                            unblockUI();
                            $('#modal').modal('show');
                        },
                        error: function () {
                            unblockUI();
                            $.niftyNoty({
                                type: 'danger',
                                message : 'Was not possible to create the interface. A network error occurred',
                                container : 'floating',
                                timer : 5000
                            });
                        }
                    });
                } else {
                    $.niftyNoty({
                        type: 'danger',
                        message : 'You must select one table entry',
                        container : 'floating',
                        timer : 5000
                    });
                }
            }
        {% endif %}
        {% if model.deletepath is not null %}
            function deleteItem() {
                $('tr.selected').each(function () {
                    ids.push($(this).attr('id'));
                });
                if (ids.length > 0) {
                    var s = '';
                    var howmany = 'el registro';
                    if (ids.length > 1) {
                        s = 's';
                        howmany = 'esos registros';
                    }
                    $('#modal-title').html('<i class="{{ model.icon }} font-blue"></i><span class="caption-subject uppercase font-blue"> Borrar registro' + s + '</span>');
                    var html = '<div class="text-center"><h4>¿Está seguro de querer borrar ' + howmany + '?</h4></div>';
                    html += '<form action="{{ path(model.deletepath) }}">';
                    html += '<input type="hidden" name="selection" value="' + ids.join() + '"/>';                    
                    $('#modal-body').html(html);
                    $('#form-cancel').on('click', cancelAction);
                    $('#form-submit').on('click', deleteAction);
                    unblockUI();
                    $('#modal').modal('show');
                } else {
                    $.niftyNoty({
                        type: 'danger',
                        message : 'Debe seleccionar al menos una entrada de la tabla',
                        container : 'floating',
                        timer : 5000
                    });
                }
            }
        {% endif %}

            function newAction() {
                $('#form-submit').html('<span class="fa fa-spin fa-spinner"></span> Enviando...');
                var form = $('.modal-body').find('form');
                ajaxsubmit(form[0], updateNew, null, errorNew);
            }

            function editAction() {
                $('#form-submit').html('<span class="fa fa-spin fa-spinner"></span> Enviando...');
                var form = $('.modal-body').find('form');
                ajaxsubmit(form[0], updateNew, null, errorNew);
            }

            function deleteAction() {
                $('#form-submit').html('<span class="fa fa-spin fa-spinner"></span> Enviando...');
                var form = $('.modal-body').find('form');
                ajaxsubmit(form[0], updateDelete, null, errorNew);
            }

            function cancelAction() {
                ids.length = 0;
                hideModal();
            }

            function updateNew() {
                hideModal();
                ajaxloader(active_view);
            }
            
            function errorNew(resp) {
                $('#form-submit').html('Proceder');
                $('#modal').scrollTop(0);
                $('#modal-alert').removeClass('hidden');
                $('#modal-alert').html(resp);                
            }

            function updateDelete() {
                if (ids.length > 0) {
                    ids.length = 0;
                    ajaxloader(active_view);
                }
                hideModal();
            }

            function hideModal() {
                $('#form-cancel').off('click');
                $('#form-submit').off('click');
                $('#modal-alert').addClass('hidden');
                $('#modal-title').html('');
                $('#modal-body').html('');
                $('#modal').modal('hide');
                $('#form-submit').html('Proceder');
            }
            
            function hideAlert() {
                $('#modal-alert').addClass('hidden');                
            }
    </script>
{% endif %}