<!DOCTYPE html>
<html lang="en">

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bawii | Acceso</title>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/nifty.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/demo/nifty-demo-icons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/demo/nifty-demo.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/plugins/magic-check/css/magic-check.min.css') }}" rel="stylesheet">

        <link href="{{ asset('assets/plugins/pace/pace.min.css') }}" rel="stylesheet">

    </head>

    <body>
        <div id="container" class="cls-container">

            <div id="bg-overlay" class="bg-img"></div>

            <div class="cls-content">
                <div class="cls-content-sm panel" id="login-panel">
                    <div class="panel-body">
                        <div>
                            <img src="{{ asset('assets/img/logo.png') }}">
                        </div>
                        <div class="mar-ver pad-btm">
                            <h3 class="h4 mar-no">¡Bienvenido!</h3>
                            <p>Por favor, indique sus credenciales</p>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger">
                                <button class="close" data-close="alert"></button>
                                <span> {{ error.messageKey|trans(error.messageData, 'security') }} </span>
                            </div>
                        {% endif %}
                        <form action="{{ path('admin_login') }}" method="post">
                            <div class="form-group">
                                <input type="text" name="_username" class="form-control" placeholder="Nombre de usuario o correo electrónico" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="password" name="_password" class="form-control" placeholder="Contraseña">
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Acceder</button>
                        </form>
                    </div>

                    <div class="pad-all">
                        <a href="pages-password-reminder.html" class="btn-link mar-rgt">¿Olvidó su contraseña?</a>
                        <a href="pages-register.html" class="btn-link mar-lft">Cree una cuenta</a>

                        <div class="media pad-top bord-top">
                            <div class="media-body text-left">
                                &copy; 2016 ClickyPago S.A de C.V
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <script src="{{ asset('assets/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/nifty.min.js') }}"></script>

</html>

